/*
Syntax error: Invalid CSS after "...icons-clean-up,": expected function argument, was ");"
        on line 18 of icons
        from line 1 of /home/drouchy/Developer/rails/quality-keeper/app/assets/stylesheets/commons/sprite.css.scss

13: // These variables control the generated sprite output
14: // You can override them selectively before you import this file.
15: 
16: $icons-sprites: sprite-map("icons/*.png", 
17: $cleanup: $icons-clean-up,
18: );
19: 
20: // All sprites should extend this class
21: // The icons-sprite mixin will do so for you.
22: #{$icons-sprite-base-class} {
23:   background: $icons-sprites no-repeat;

Backtrace:
icons:18
/home/drouchy/Developer/rails/quality-keeper/app/assets/stylesheets/commons/sprite.css.scss:1
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/scss/parser.rb:898:in `expected'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/lexer.rb:193:in `expected!'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:443:in `assert_expr'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:354:in `arglist'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:333:in `fn_arglist'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:442:in `assert_expr'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:354:in `arglist'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:333:in `fn_arglist'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:299:in `funcall'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:287:in `ident'
(eval):2:in `unary_not'
(eval):2:in `unary_div'
(eval):2:in `unary_minus'
(eval):2:in `unary_plus'
(eval):3:in `times_div_or_mod'
(eval):3:in `plus_or_minus'
(eval):3:in `relational'
(eval):3:in `eq_or_neq'
(eval):3:in `and_expr'
(eval):3:in `or_expr'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:266:in `space'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:251:in `interpolation'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:217:in `expr'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:442:in `assert_expr'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/script/parser.rb:49:in `parse'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/scss/parser.rb:788:in `sass_script'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/scss/parser.rb:336:in `variable'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/scss/parser.rb:379:in `block_child'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/scss/parser.rb:372:in `block_contents'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/scss/parser.rb:57:in `stylesheet'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/scss/parser.rb:26:in `parse'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/engine.rb:319:in `_to_tree'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/engine.rb:249:in `block in to_tree'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/engine.rb:249:in `to_tree'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `map'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/tree/root_node.rb:20:in `render'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/engine.rb:291:in `_render'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/engine.rb:239:in `block in render'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/engine.rb:239:in `render'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin/compiler.rb:175:in `each'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin/compiler.rb:173:in `each'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin.rb:54:in `check_for_updates'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.5/lib/sass/plugin/rack.rb:51:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.2/lib/rack/etag.rb:23:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.2/lib/rack/conditionalget.rb:25:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/flash.rb:243:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.2/lib/rack/session/abstract/id.rb:195:in `context'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.2/lib/rack/session/abstract/id.rb:190:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.1.0.rc5/lib/active_record/query_cache.rb:62:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.1.0.rc5/lib/active_record/connection_adapters/abstract/connection_pool.rb:466:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.1.0.rc5/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.1.0.rc5/lib/active_support/callbacks.rb:81:in `run_callbacks'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.1.0.rc5/lib/rails/rack/logger.rb:13:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.2/lib/rack/methodoverride.rb:24:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.2/lib/rack/runtime.rb:17:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.1.0.rc5/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.2/lib/rack/lock.rb:15:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.1.0.rc5/lib/action_dispatch/middleware/static.rb:53:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.1.0.rc5/lib/rails/engine.rb:455:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.1.0.rc5/lib/rails/rack/content_length.rb:16:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.1.0.rc5/lib/rails/rack/log_tailer.rb:14:in `call'
/home/drouchy/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.3.2/lib/rack/handler/webrick.rb:59:in `service'
/home/drouchy/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/drouchy/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/drouchy/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...icons-clean-up,\": expected function argument, was \");\"\A         on line 18 of icons\A         from line 1 of /home/drouchy/Developer/rails/quality-keeper/app/assets/stylesheets/commons/sprite.css.scss\A \A 13: // These variables control the generated sprite output\A 14: // You can override them selectively before you import this file.\A 15: \A 16: $icons-sprites: sprite-map(\"icons/*.png\", \A 17: $cleanup: $icons-clean-up,\A 18: );\A 19: \A 20: // All sprites should extend this class\A 21: // The icons-sprite mixin will do so for you.\A 22: #{$icons-sprite-base-class} {\A 23:   background: $icons-sprites no-repeat;"; }
