@import 'variables.scss';

#logo {
  float: left;
}

nav#top_bar {
  
  ul {
    list-style-type: none;
    line-height: $header_height;
  
    li {
      float: left;

      a {
        display: block;
        padding: 0 15px;
      }
    }
    
    li:last-child {
      float: right;
    }
  }
  
  a {
    color: #ccc;
  }

  .current {
    background-color: black;
  }
}