ul#projects {
    li {
      position: relative;
      padding: 15px 25px 15px 45px !important;
      border-bottom: 1px solid #CCC;
      font-size: 16px;
      background-position: 24px 16px;
      background-repeat: no-repeat;
    }
}
