@import 'mixins.scss';

ul#projects {
    li {
      position: relative;
      padding: 15px 25px 15px 45px !important;
      border-bottom: 1px solid #CCC;
      font-size: 16px;
      background-position: 24px 16px;
      background-repeat: no-repeat;
    }
}

$info_border:solid gray 1px;

$div_width: 80%;

@mixin div() {
  @include centered;
  width: $div_width;
  padding: 10px;
  margin-bottom: 20px;
}

#project_information {
  
  background-color: #FAFAFA;
  border: $info_border;

  @include div();
  @include rounded_corners(5px);
  
  header {
    img {
      float: left;
    }

    height:40px; 
    line-height:40px;
    border-bottom: $info_border;
    padding-left: 5px;
  }

  h1 {
    margin-left: 40px;
  }

}

div#commit {
  @include div();
  min-height: 40px;
  background-color: #EAF2F5;

  border: 1px solid #BEDCE7;
}
